@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient( rgb(0, 0, 0), rgb(255, 255, 255), rgb(168, 168, 168)); 
}
.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.banner{
    text-align: center;
    margin-bottom: 20px;    
}

.banner img{
    max-width: 100%;
    height: auto;
    border-radius: 15px; 
    box-shadow: 0 0 10px rgb(255, 253, 253);       
}

.elenco{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.ator{
    text-align: center;
}

.ator img{
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
}

.titulo-elenco{
    text-align: center;
}

.sinopse{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
}

.titulo-sinopse{
    font-size: 30;
}
.site{
    display: flex;
    align-items: center;
    font-size: 1.2em;
}
 
.site img{
   width: 80px;
   height: auto;
   margin-right: 10px;

}
 
 .avaliacoes{
    display: flex;
    justify-content:space-around;
   
 }

